.profile__add-btn {
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  max-width: 282px;
  width: 100%;
  min-height: 50px;
  background: url('../../../image/add__button-icon.svg') no-repeat center / 16px;
}

@media (min-width: 768px) {
  .profile__add-btn {
    margin-left: auto;
    max-width: 150px;
  }
}
