.profile__add-btn {
  box-sizing: border-box;
  border: 2px solid #FFF;
  border-radius: 2px;
  width: 282px;
  min-height: 50px;
  background: url('../../../image/add__button-icon.svg') no-repeat center / 16px;
  background-color: transparent;
}

@media (min-width: 768px) {
  .profile__add-btn {
    margin-left: auto;
    width: 150px;
    background-size: 22px;
  }
}
