.place__like-btn {
  box-sizing: border-box;
  padding: 0;
  width: 22px;
  height: 19px;
  background: url('../../../image/place__like.svg') no-repeat center / cover;
  background-color: transparent;
}

.place__like-btn:hover {
  opacity: 0.5;
}

