.profile__edit-btn {
  margin-right: -27px;
  width: 18px;
  height: 18px;
  border: 1px solid #FFF;
  background: url('../../../image/edit__button-icon.svg') no-repeat center / 7.5px;
  background-color: transparent;
}

@media (min-width: 768px) {
  .profile__edit-btn {
    width: 24px;
    height: 24px;
    background-size: 10px;
  }
}
