.popup__save-btn {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #FFFFFF;
  background: #000;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  max-width: 238px;
  width: 100%;
  min-height: 46px;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .popup__save-btn {
    max-width: 358px;
    min-height: 50px;
    font-size: 18px;
    line-height: 1.22;
    margin: 0 auto 37px;
  }
}
