.popup__close-btn {
  background: url('../../../image/popup__close-btn.svg') no-repeat center / cover;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -36px;
  right: 0;
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .popup__close-btn {
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
  }
}

